 .nav { 
  background-color: #0C2D48;
  height: 770px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}
.insidenav{
  float:left;
  display:block;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #B1D4E0;
}

.nav2 {
  background-color: #0C2D48;
  height: 50px;
  width: 1425px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}

.insidenav2{
  float:right;
  display:block;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #B1D4E0;
}

/*
.topnav {
  background-color: #333;
  border-radius: 50px;
  min-height: 49px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 50px;
}

.topnav a:hover {
  background-color: rgb(255, 246, 246);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #071510;
  color: #04aa6d;
}
*/
